body{
    margin:0;
    padding:0;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 0 10%;

    color:white;
    background-color: navy;
}

nav{text-align:center; display: flex; flex-direction: row; background-color: black; color:white; padding: 20px; }

.navItem{margin-left:100px}